article {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	min-height: 70vh;
	max-height: fit-content;
	margin: 0;
	color: #413733;
	border-radius: 10px;
	padding: 1.2rem;
	flex-wrap: wrap;
}

article h1,
h4 {
	text-shadow: 0px 2px 2px #4137334c;
}

ol {
	text-align: center;
	margin: 0 auto;
}

a {
	color: #413733;
	font-weight: 600;
}

a:hover {
	color: #4137337e;
	transition: 0.2s;
}

input {
	padding: 0.5rem;
	font-family: "Montserrat", sans-serif;
	background-color: rgb(186, 186, 186);
	border: 0;
	border-radius: 5px;
	color: #413733;
	font-size: 1.2rem;
}

label {
	font-weight: bold;
}

button {
	padding: 0.5rem;
	border-radius: 10px;

	background-color: #413733;
	color: #ffffff;
	border: 0;
	margin-top: 1rem;
	font-weight: bold;
	font-size: 1.5rem;
}

button:hover {
	background-color: rgb(186, 186, 186);
	color: #413733;
	transition: 0.2s;
	cursor: pointer;
}

button:disabled {
	background-color: #4137333b;
	color: #ffffff;
}

button:disabled:hover {
	background-color: #4137333b;
	color: #ffffff;
	cursor: default;
}

table td {
	padding: 5px;
}

.home-article-container {
	text-align: center;
}

.home-article-container img {
	height: 100px;
}

.profile-article-container {
	display: flex;
	gap: 10px;
}

.profile-article-container h1 {
	text-align: center;
	margin-bottom: 2rem;
	font-size: 1.5rem;
}

.profile-article-credentials-container p {
	font-weight: bold;
	font-size: 1.2rem;
}

.pollCreator-article-container {
	display: flex;
	justify-content: center;
	text-align: center;
}

.pollCreator-article-container h2 {
	font-weight: bolder;
	font-size: 1rem;
}

.pollCreator-article-container textarea {
	background-color: rgb(186, 186, 186);
	border: 0;
	border-radius: 10px;
	font-family: "Montserrat", sans-serif;
	width: 50vw;
	color: #413733;
	font-size: 1.1rem;
	height: 20vh;
}

.pollCreator-article-container input:blank {
	background-color: red;
}

.pollCreator-article-container label {
	width: 20px;
	color: green;
	font-weight: normal;
}

.myPolls-link-container {
	color: #413733;
}

.results-article-container div {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}

.results-article-container h3 {
	color: orange;
}

.results-result-p {
	border: 2px solid #413733;
	padding: 2rem;
	border-radius: 10px;
}

.changepass-article-contaienr {
	display: flex;
}

.changepass-form {
	display: flex;
	flex-direction: column;
	margin: 1rem;
	justify-content: center;
	align-items: center;
}

.changepass-form input {
	margin: 1rem;
}
