nav {
	background-color: #6f625c;
	width: 100vw;
}

nav ul {
	background-color: #6f625c;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
	height: 12vh;
	/* margin: 0; */
	border: 2px solid;
	align-items: center;
	/* padding: 0; */
	color: #ffffff;
	font-weight: bold;
}

nav li {
	margin: 0;
	padding: 0;
}

.navbar-circle {
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	border: 5px solid #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}
