nav {
	background-color: #6f625c;
	width: 100vw;
	height: 10vh;
}

nav ul {
	background-color: #6f625c;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #ffffff;
	font-weight: bold;
	line-height: 10vh;
}

nav li {
	margin: 0;
	padding: 0;
}

.navbar-circle {
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	border: 5px solid #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}

.navbar-circle p,
a {
	color: #ffffff;
	text-decoration: none;
}
